@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

#Serie {
  scroll-margin-top:100px;
}
#Us {
  scroll-margin-top:122px;
}
#Santos {
  scroll-margin-top:262px;
}
#Projects {
  scroll-margin-top:102px;
}
#Insta {
  scroll-margin-top:85px;
}
#Contact {
  scroll-margin-top:115px;
}
